<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <label for="name">Product Name</label>
            <input type="text" [value]="productDetail.productName" class="form-control">
        </div>
        <div class="col-lg-6">
            <label for="email">Description</label>
            <input type="text" [value]="productDetail.description" class="form-control">
        </div>
        <div class="col-lg-6">
            <label for="country">Category</label>
            <input type="text" [value]="productDetail.category" class="form-control">
        </div>
        <div class="col-lg-6">
            <label for="state">Product</label>
            <input type="text" [value]="productDetail.product" class="form-control">
        </div>
        <div class="col-lg-6 mt-3">
            <button routerLink="/products" type="button" class="btn btn-secondary">Back</button>
        </div>
    </div>
</div>