<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
<div class="text-right">
    <a routerLink="/add-product" class="btn btn-primary">Add Product</a>
</div>
<div class="card shadow mb-4 mt-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let product of productDetails">
                        <td>{{product.productName}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.product}}</td>
                        <td><a [routerLink]="['/product',product.id]" class="btn btn-sm btn-primary">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>